* {
    box-sizing: border-box;
}

.container {
    padding: 0;
    width: 800px;
}

div.header {
    height: 100px;
    width: 100%;
    margin: 10px auto;

}

.content {
    min-height: 400px;
}


div.h-200 {
    height: 200px;
}

.h-120 {
    min-height: 120px;
}

.h-150 {
    min-height: 150px;
}

.h-80 {
    min-height: 80px;
}

.h-70 {
    height: 70px;
}

.h-1 {
    height: 1px;
    margin: 10px auto;
    padding: 0;
}

.hw-70 {
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 0;
}

.h-60 {
    height: 60px
}

.right {
    padding-right: 30px;
}

.footer {
    padding-left: 15px;
}

.border-r {
    border-right: 15px solid white;
}
